.glow {
  text-shadow: 0 0 40px #fff, 0 0 4px #fff, 0 0 50px #e60073, 0 0 4px #e60073,
    0 0 30px #e60073, 0 0 20px #e60073, 0 0 10px #e60073;
}

.container-snow {
  width: 100%;
  height: 115vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  display: none;
  z-index: 2;
  pointer-events: visible;
}

.snow-flake {
  height: 1px;
  animation: fall 30s linear forwards infinite;
  color: white;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@keyframes fall {
  from {
    transform: translateY(0vh) rotate(380deg);
  }
  to {
    transform: translateY(100vh);
  }
}
