.glow {
  text-shadow: 0 0 40px #fff, 0 0 4px #fff, 0 0 50px #e60073, 0 0 4px #e60073,
    0 0 30px #e60073, 0 0 20px #e60073, 0 0 10px #e60073;
}

.snow {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: none;
  z-index: 1;
  pointer-events: visible;
}

button {
  pointer-events: visible;
}

.container-snow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.snow-flake {
  height: 20px;
  margin-top: -2.2rem;
  animation: fall 30s linear forwards infinite;
  color: white;
}

@keyframes fall {
  from {
    transform: translateY(-5vh) rotate(380deg);
  }
  to {
    transform: translateY(100vh);
  }
}
