.first {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color) /*#8c0d0d*/;
  opacity: 1;
  transition: 2s ease-in;
  position: absolute;
  z-index: 2;
  color: white;
  box-shadow: 0px 0px 0px 7px var(--box-color) /*#8c0d0d*/;
}

.box {
  height: 280px;
  width: 280px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
  animation: animated-text 2s 0.3s ease-in both;
  font-size: 1.4rem;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.style {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

/*
.leef {
  min-width: 350px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.leef svg {
  transition: 0.5s ease;
}

.leef svg:hover {
  transform: rotate(-35deg);
}
*/
.slide-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: var(--box-color);
  display: none;
  max-width: 300px;
  max-height: 300px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  scroll-snap-points-x: repeat(350px);
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 0px 7px var(--box-color);
}
.container::-webkit-scrollbar {
  display: none;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  animation: fade 5s ease-in;
  transition: 2s ease-in;
}
.child {
  scroll-snap-align: center;
}

.animation {
  animation: fade 3s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
